*{
    margin: 0;
    padding: 0;
}

ul{
    width: 180px;
}

li{
    list-style-type: none;
    text-overflow: ellipsis;
}

.wrapper{
    margin-left: 50px;
}

.email-tag{
    min-width: 150px;
    display: block;
    color:rgb(177, 177, 177);
    /* border: 1px solid #000; */
}

.gray-border{
    border: 1px solid rgb(177, 177, 177);
    font-size: 10px;
    display: none;
}